.layout {
  max-width: 1200px;
  margin: 4rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2em;
}

.card {
  /* display: grid; */
  width: 100%;
  padding: 2rem;
  aspect-ratio: 1.6 / 1;
  background-color: #fff;
  border: 1px solid var(--gray-200);
  color: var(--gray-450);
}

.card--front {
  box-shadow: 0.4px 1.3px 2px -1.1px rgba(var(--gray-300-rgb), 0.15), 1px 3.4px 3.6px -2.2px rgba(var(--gray-300-rgb), 0.25),
    2.6px 8.8px 9.2px -3.3px rgba(var(--gray-300-rgb), 0.18);
  border-radius: 0.3rem; /* todo: make proportional to width */
  &:hover {
    border: 1px solid var(--gray-850);
    color: var(--gray-850);
    cursor: pointer;
  }
}

.card--back {
  max-width: 900px;
  box-shadow: 0px 4px 2px rgba(var(--gray-900-rgb), 0.45), 0px 4px 4px rgba(var(--gray-900-rgb), 0.25),
    inset 0px 1px 0px rgba(var(--gray-250-rgb), 0.25);
  border-radius: 0.6rem; /* todo: make proportional to width */
  border: 1px solid var(--gray-850);
}

.overlay {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(var(--gray-950-rgb), .95);
  background-blend-mode: multiply;
  backdrop-filter: blur(5px);
  z-index: 20;
}